<html lang="en">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    <meta name="viewport" content="initial-scale=1" />
    <base href="/">
  </head>
  <body>

    <div ng-controller="SettingsController" layout="column" ng-app="KodiRemoteApp">

      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <span>Kodi Remote Settings</span>
          </h3>
        </div>
      </md-toolbar>

      <form name="settingsForm">
        <md-subheader class="md-primary">Kodi Hosts {{ test }}</md-subheader>
          <md-card ng-repeat="host in hosts track by $index">
            <md-card-content layout-padding="" layout="row" layout-sm="column">
              <md-input-container>
                <label>Name</label>
                <input ng-model="hosts[$index].name">
              </md-input-container>
              <md-input-container>
                <label>IP Address</label>
                <input ng-model="hosts[$index].ip">
              </md-input-container>
              <md-input-container>
                <md-button ng-if="hosts.length > 1" class="md-raised md-warn" ng-click="remove($index)">X</md-button>
              </md-input-container>
            </md-card-content>
          </md-card>
            <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
            <md-button class="md-raised" ng-click="hosts.push({})">Add another host</md-button>
      </form>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

    <script>
    angular
      .module('KodiRemoteApp', ['ngMaterial'])
      .config(function($locationProvider) {
        $locationProvider.html5Mode(true);
      })
      .controller('SettingsController', function($scope, $location) {
        var params = $location.hash();
        $scope.test = params;

        $scope.hosts = params && params.hosts ? params.hosts : new Array(1);

        $scope.save = function() {
          location.href = 'pebblejs://close#' + encodeURIComponent(JSON.stringify({ hosts: $scope.hosts }));
        }

        $scope.remove = function(index) {
          $scope.hosts.splice(index, 1);
        }
      })
    </script>
  </body>
</html>
